body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  & img{
    width: 30%;
    color: white;
  }
  background-color: black;
  height: 100vh;
  color: white;
}
.centerWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .mainWrapper {
    background-image: url('./assets/img/hogwarts.jpeg');
  height: 100vh;
  background-size: cover;
  }
}